<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" 
        alt=""
        height="200px">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Estudando Angular - contruindo um Blog</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi vulputate lacus quis mauris rhoncus, volutpat elementum nisi ornare.
            </a>
        </p>
    </div>
</div>
