.container-menu__title {
    color: #fff;
}

.container-menu__title > h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    display: flex;
    justify-content: center;
}

.container-menu__title > hr {
    margin-top: 20px;
    margin-bottom: 5px;
}